Repository pjquirk/mono-repo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-servicea.yml, azure-pipelines-serviceb.yml

azure-pipelines-servicea.yml:

pr:
 branches:
  include:
    - master
 paths:
   include:
     - servicea/*


jobs:
- job: Build
  pool:
    vm-image: ubuntu-latest
  steps:
  - script: echo 'hello servicea'

azure-pipelines-serviceb.yml:

pr:
  branches:
    include:
      - master
  paths:
    include:
      - serviceb/*

jobs:
- job: Build
  pool:
    vm-image: ubuntu-latest
  steps:
  - script: echo 'hello serviceb'

adding servicea
  servicea/service.txt
Due: azure-pipelines-servicea.yml

adding serviceb
  serviceb/service.txt
Due: azure-pipelines-serviceb.yml

changing pool
  azure-pipelines-serviceb.yml
Due: none

changing pool
  azure-pipelines-servicea.yml
Due: none

changing servicea
  servicea/service.txt
Due: azure-pipelines-servicea.yml

fixing pipeline
  azure-pipelines-servicea.yml
Due: none

Update azure-pipelines-serviceb.yml
  azure-pipelines-serviceb.yml
Due: none

changing service a
  servicea/service.txt
Due: azure-pipelines-servicea.yml

Added stuff to service a
  servicea/service.txt
Due: azure-pipelines-servicea.yml

Fixing formatting
  azure-pipelines-servicea.yml
Due: none

Update azure-pipelines-servicea.yml
  azure-pipelines-servicea.yml
Due: none

Update service.txt
  servicea/service.txt
Due: azure-pipelines-servicea.yml

Update service.txt
  serviceb/service.txt
Due: azure-pipelines-serviceb.yml

Set up CI with Azure Pipelines
  azure-pipelines-servicea.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-serviceb.yml
Due: none

Changing service B
  serviceb/service.txt
Due: azure-pipelines-serviceb.yml

Service B again!
  serviceb/service.txt
Due: azure-pipelines-serviceb.yml

Change service A in master
  servicea/service.txt
Due: azure-pipelines-servicea.yml

Service B #3, in PR!
  serviceb/service.txt
Due: azure-pipelines-serviceb.yml
